@define-color black #101012;
@define-color bg0 #232326;
@define-color bg1 #2c2d31;
@define-color bg2 #35363b;
@define-color bg3 #37383d;
@define-color white #ffffff;
@define-color purple #bb70d2;
@define-color green #8fb573;
@define-color orange #c49060;
@define-color blue  #57a5e5;
@define-color yellow #dbb671;
@define-color	cyan #51a8b3;
@define-color red #de5d68;
@define-color grey #5a5b5e;
@define-color dark_yellow #7c5c20;
@define-color dark_cyan #2b5d63;

* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: MesloLGM Nerd Font;
    /* font-family: Noto Sans; */
    /* font-family: Noto Sans, Iosevka Nerd Font Medium, FontAwesome, Roboto, Helvetica, Arial, sans-serif; */
    font-size: 14px;
}

window#waybar {
    background-color: @black;
    /* border-bottom: 3px solid rgba(100, 114, 125, 0.5); */
    color: @white;
    /* transition-property: background-color; */
    /* transition-duration: .5s; */
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: @white;
}
*/

/* window#waybar.termite { */
/*     background-color: #3F3F3F; */
/* } */

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    /* box-shadow: inset 0 -3px @white; */
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: @white;
}
#workspaces button.focused {
    background-color: @bg1;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode {
    background-color: #64727D;
    border-bottom: 3px solid @white;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#mpd {
    padding: 0 10px;
    /* color: @white; */
}

#window,
#workspaces {
    margin: 0 4px;
}

.modules-right > widget {

    padding: 0 10px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}


#battery.charging, #battery.plugged {
    color: @green;
}

@keyframes blink {
    to {
        color: @white;
    }
}

#battery.critical:not(.charging) {
    color: @red;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

/* #clock { color: @white; } */
/* #battery { color: @white; } */
/* #cpu { color: @green; } */
/* #memory { color: @purple; } */
/* #disk { color: red; } */
/* #backlight { color: red; } */
/* #network { color: @blue; } */
/* #network.disconnected { color: @cyan; } */
/* #pulseaudio { color: @yellow; } */
/* #pulseaudio.muted { color: @dark_yellow; } */
/* #wireplumber { color: @yellow; } */
/* #wireplumber.muted { color: #f53c3c; } */
/* #custom-media { */
/*     color: #2a5c45; */
/*     min-width: 100px; */
/* } */
/**/
/* #custom-media.custom-spotify { color: #66cc99; } */
/* #custom-media.custom-vlc { color: #ffa000; } */
/* #temperature { color: @orange; } */
#temperature.critical { color: @red; }
/* #tray { color: red; } */
/* #idle_inhibitor { color: #2d3436; } */
/* #idle_inhibitor.activated { color: #ecf0f1; } */
/* #mpd { color: #2a5c45; } */
/* #mpd.disconnected { color: #f53c3c; } */
/* #mpd.stopped { color: #90b1b1; } */
/* #mpd.paused { color: #51a37a; } */

#tray > .passive { 
  -gtk-icon-effect: dim; 
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    color: #eb4d4b;
}


/* #language { */
/*     background: #00b093; */
/*     color: #740864; */
/*     padding: 0 5px; */
/*     margin: 0 5px; */
/*     min-width: 16px; */
/* } */
/**/
/* #keyboard-state { */
/*     background: #97e1ad; */
/*     color: #000000; */
/*     padding: 0 0px; */
/*     margin: 0 5px; */
/*     min-width: 16px; */
/* } */
/**/
/* #keyboard-state > label { */
/*     padding: 0 5px; */
/* } */
/**/
/* #keyboard-state > label.locked { */
/*     background: rgba(0, 0, 0, 0.2); */
/* } */

#scratchpad {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
	background-color: transparent;
}
